* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background: #0074D9;
	font-family: 'Muli', sans-serif;
}

form {
	display: grid;
	justify-content: center;
	grid-gap: 10px;
}

p {
	text-align: center;
	margin-top: 25px;
	color: white;
}

textarea {
	font-family: 'Muli', sans-serif;
	resize: none;
}

button {
	font-family: 'Muli', sans-serif;
	background-color: #0074D9;
	color: white;
	border-style: solid;
	border-radius: 8px;
}

button:hover {
	background-color: #001f3f;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
}